{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 text-center">
    <h2>WELCOME , {{name}}</h2>
    <p>Explore The Features Of Fake Image Detector App...</p>
    <div class="mt-4">
      <form action="/logout" method="post" style="display:inline;">
        <button type="submit">Logout</button>
      </form>
      <form action="/train" method="get" style="display:inline;">
        <button type="submit">Start Training Model</button>
        <button type="submit">Dive In</button>

      </form>
    </div>
</div>
{% endblock %}