{% extends 'base.html' %}
{% block content %}
  <section>
  	<p> Explore The Power Of ML Right At Your Finger Tips.Start By Uploading A Dataset, Train A Model And Market A Detection.
    While Our Detector Is Highly Accurate , No AI Tool Is 100% Foolproof Against Evolving Sophisticated Fakes.I Honestly Recommend Using This As Part Of A broader Verification Strategy.</p>
  	<button onclick="location.href='/register'">Get Started </button>
  	<button onclick="location.href='/login'">Login </button>
  </section>
{% endblock %}