{% extends 'base.html' %}
{% block content %}
<div>
	<h1> REGISTRATION </h1>
	<h5> Please Fill-In Your Details To Create An Account</h5>
	<form method="post" action="/register">
		<label> Name: </label><br>
		<input type="text" name="name" placeholder="Enter the name here..." required><br><br>
		<label>Email: </label><br>
		<input type="email" name="email" placeholder="Enter the email here..." required> <br><br>
		<label> Password: </label><br>
		<input type="password" name="password" placeholder="Enter the password here..." required> <br><br>
		<button type="submit"> Register </button>
	</form>
</div>
{% endblock %}